{{ header }}
<div class="container">
	<div class="breadcrumb-h1 {{ menu_expanded ? 'col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' }}">
		<ul class="breadcrumb mobile">
			{% for key, breadcrumb in breadcrumbs %}
				{% if key + 1 < breadcrumbs|length %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% else %}
					{% if not hide_last_breadcrumb or (hide_last_breadcrumb and key == 1) %}<li>{{ breadcrumb.text }}</li>{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="row">
	    	<div id="promotions" class="promotions">
	    {% if products %}
				{% if product_categories %}
					<div class="product-category-list">
						<!--<h1 class="heading">{{ heading_title }}</h1>-->
						<h1>{{ heading_product_category }}</h1>
						{% if category_id == 0 %}
						<div class="uni-form">
							<span class="product-category-list__item selected">{{ text_all_specials }}</span>
						{% else %}
							<a href="{{ specials_href }}" class="product-category-list__item">{{ text_all_specials }}</a>
						{% endif %}
						{% for category in product_categories %}
							{% if category.selected %}
								<span class="product-category-list__item selected">{{ category.name }}</span><a href="{{ specials_href }}" title="{{ text_deselect }}" class="product-category-list__reset">&times;</a>
							{% else %}
								<a href="{{ category.href }}" class="product-category-list__item">{{ category.name }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				{% endif %}
		{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-6 col-lg-6 col-xxl-12' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}
			<div class="uni-wrapper">
				<div class="sorts-block">
					<div class="sorts-block__wrapper">
						<div class="sorts-block__sorts hidden-xs hidden-sm">
							<span data-href="{{ sorts[0].href }}" class="sorts-block__span uni-href {{ sort in sorts[0].value ? 'selected' }}">{{ sorts.0.text }}</span>
							{% for key, sorts in sorts %}
								{% if key != 0 and sort in sorts.value and order not in sorts.value %}
									<span data-href="{{ sorts.href }}" class="sorts-block__span uni-href selected {{ 'ASC' in sorts.value ? 'up' : 'down' }}">{{ sorts.text|split('(')[0] }}</span>
								{% elseif key != 0 and sort not in sorts.value and 'DESC' not in sorts.value %}
									<span data-href="{{ sorts.href }}" class="sorts-block__span uni-href">{{ sorts.text|split('(')[0] }}</span>
								{% endif %}
							{% endfor %}
						</div>
						<select id="input-sort" class="sorts-block__select form-control visible-xs visible-sm" onchange="location = this.value;">
							{% for sorts in sorts %}
								{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
								{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<!--<select id="input-limit" class="sorts-block__select sorts-block__limit form-control" onchange="location = this.value;">
							{% for limits in limits %}
								{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
								{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
								{% endif %}
							{% endfor %}
						</select>-->
						<div class="sorts-block__btn-group btn-group">
							{% if show_grid_button %}<button type="button" id="grid-view" class="sorts-block__btn btn btn-lg btn-default" title="{{ button_grid }}"><i class="fa fa-th-large"></i></button>{% endif %}
							{% if show_list_button %}<button type="button" id="list-view" class="sorts-block__btn btn btn-lg btn btn-default" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>{% endif %}
							{% if show_compact_button %}<button type="button" id="compact-view" class="sorts-block__btn btn btn-lg btn btn-default hidden-xs hidden-sm" title="{{ button_compact }}"><i class="fa fa-align-justify"></i></button>{% endif %}
						</div>
					</div>
				</div>
				<div class="products-block row row-flex">
					{% if default_view == 'list' %}
						{% set class = 'product-list list-view col-sm-12' %}
					{% elseif default_view == 'compact' %}
						{% set class = 'product-price compact-view col-sm-12' %}
					{% else %}
						{% if column_left and column_right %}
							{% set class = 'product-grid grid-view col-sm-12 col-md-12 col-lg-6 col-xxl-6-1' %}
						{% elseif column_left or column_right %}
							{% set class = 'product-grid grid-view col-sm-6 col-md-4 col-lg-4 col-xxl-5' %}
						{% else %}
							{% set class = 'product-grid grid-view col-sm-6 col-md-3 col-lg-3 col-xxl-4' %}
						{% endif %}
					{% endif %}
					{% for product in products %}
						<div class="product-layout {{ class }}">
							<div class="product-thumb uni-item">
								<div class="product-thumb__image" {{ product.special_date_end ? 'data-special-end="'~product.special_date_end~'"' }}>
									{% include 'unishop2/template/extension/module/uni_stickers.twig' %}	
									<a href="{{ product.href }}">
										<img src="{{ product.thumb }}" {{ product.additional_image ? 'data-additional="'~product.additional_image~'"' }} alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
									</a>
								</div>
								<div class="product-thumb__caption">
					    {% include 'unishop2/template/extension/module/uni_options.twig' %}
						<a class="product-thumb__name" href="{{ product.href }}">{{ product.name }}</a>
						{% if product.rating >= 0 and show_rating %}
							<div class="product-thumb__rating rating">
								{% for i in 1..5 %}
									<i class="{{ product.rating < i ? 'far fa-star' : 'fa fa-star' }}"></i>
								{% endfor %} 
								{% if product.num_reviews > 0 %}<div class="product-ret"><a class="product-thumb__rating-a uni-badge uni-href" data-href="{{ product.href }}#tab-review"><i class="fas fa-comment"></i><span>{{ product.num_reviews }}</span></a></div>{% endif %}
							</div>
						{% endif %}
						{% if product.price %}
						<div class="product-retw">
							<div class="product-thumb__price price" data-price="{{ product.price_value }}" data-special="{{ product.special_value }}" data-discount="{{ product.discounts }}">
								{% if not product.special %}
									{{ product.price }}
								{% else %}
									<span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span> 
								{% endif %}
							</div>
							{% if product.tax %}<div class="price-tax">{{ text_tax }} {{ product.tax }}</div>{% endif %}
						{% endif %}
						<div class="product-thumb__cart cart {{ product.cart_btn_class }}">
							{% include 'unishop2/template/extension/module/uni_quantity_switch.twig' %}
							<button type="button" class="product-thumb__add-to-cart add_to_cart btn {{ product.cart_btn_class }}" title="{{ product.cart_btn_text }}" data-pid="{{ product.product_id }}" onclick="cart.add({{ product.product_id }}, this)"><i class="fal fa-cart-shopping"></i></button>
							<button type="button" class="product-thumb__wishlist wishlist {{ wishlist_btn_disabled ? 'hidden' }}" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
							<button type="button" class="product-thumb__compare compare {{ compare_btn_disabled ? 'hidden' }}" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-balance-scale"></i></button>
						   </div>
						</div>
					    {% if product.show_description %}
							<div class="product-thumb__description description">{{ product.description }}</div>
						{% endif %}
						{% include 'unishop2/template/extension/module/uni_attributes.twig' %}
					</div>
				</div>
				</div>
			{% endfor %}
				</div>
				{{ pagination }}
			  <div class="pagination-text">{{ results }}</div>
			{% endif %}
			{% if not products %}
				<div class="div-text-empty">{{ text_empty }}</div>
			{% endif %}
			</div>
			{{ content_bottom }}
		</div>
		{{ column_right }}
		<script>uniSelectView.init();</script>
	</div>
</div>
{% if products %}
<script>
	$(() => {
		const showTimer = () => {
			$('.product-layout .product-thumb__image').each(function() {
				const date = $(this).data('special-end');

				if(date) {
					$(this).uniTimer({
						date  :date,
						texts :['{{ text_special_day }}','{{ text_special_hour }}','{{ text_special_min }}','{{ text_special_sec }}']
					});
				}
			});
		};
							
		showTimer();
								
		new MutationObserver(showTimer).observe($('.products-block')[0], {childList:true});
	});
</script>
{% endif %}
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
		{% for i, breadcrumb in breadcrumbs %}
			{
			"@type": "ListItem",
			"position": {{ i+1 }},
			"name": "{{ i == 0 ? shop_name: breadcrumb.text }}",
			"item": "{{ breadcrumb.href }}"
			{{ i + 1 < breadcrumbs|length ? '},' : '}' }}
		{% endfor %}
		]
	}
</script>
{{ footer }}