<!--<div class="buttons">
	<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#SizeChartModal">{{ sizechart_title }}</button>
</div>-->
<div id="SizeChartModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ sizechart_title }}</h4>
      </div>
      <div class="modal-body">
			{% if sizechart_description  and  sizechart_description != '<p><br></p>' %}
				{{ sizechart_description }}
			{% endif %}
			{% if sizechart_rows %}
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<tbody>
						{% for key, sizechart_column in sizechart_rows %}
						<tr>
							{% set i = 1 %}
							{% for sizechart_value in sizechart_column %}
								{% if key == '0' %}
									<th class="{% if sizechart_column|length == i %}{{ 'text-right' }}{% else %}{{ 'text-left' }}{% endif %}">{{ sizechart_value.value }}</th>
								{% else %}
									<td class="{% if sizechart_column|length == i %}{{ 'text-right' }}{% else %}{{ 'text-left' }}{% endif %}">{{ sizechart_value.value }}</td>
								{% endif %}
								{% set i = i + 1 %}
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
		</div>
    </div>

  </div>
</div>