<script type="text/javascript"> 	
var wayforpay = new Wayforpay(); 	
var pay = function () { 		
	wayforpay.run({ 				
	merchantAccount : "{{ fields.merchantAccount }}", 				
	merchantDomainName : "{{ fields.merchantDomainName }}", 				
	merchantTransactionType : "{{ fields.merchantTransactionType }}", 				
	authorizationType : "SimpleSignature", 				
	merchantSignature : "{{ fields.merchantSignature }}", 				
	orderReference : "{{ fields.orderReference }}", 				
	orderDate : "{{ fields.orderDate }}", 				
	amount : "{{ fields.amount }}", 				
	currency : "{{ fields.currency }}",
	{% for productName in fields.productName %}
	productName : "{{ productName }}",
	{% endfor %}
	{% for productPrice in fields.productPrice %}
	productPrice : "{{ productPrice }}",
	{% endfor %}
	{% for productCount in fields.productCount %}
	productCount : "{{ productCount }}",
	{% endfor %}
	clientFirstName : "{{ fields.clientFirstName }}", 				
	clientLastName : "{{ fields.clientLastName }}", 				
	clientEmail : "{{ fields.clientEmail }}", 				
	clientPhone: "{{ fields.clientPhone }}", 				
	serviceUrl: "{{ fields.serviceUrl }}", 				
	returnUrl: "{{ fields.returnUrl }}", 				
	language: "{{ fields.language }}" 			
}, 			
function (response) {
// on approved		
	location.href = '{{ continue }}';
}, 			
function (response) {
// on declined 		
	location.href = '{{ canceled }}';
}, 			
function (response) {
// on pending or in processing 		
	location.href = '{{ continue }}';
} 		
); 	
}

window.addEventListener("message", function () {
	 if (event.data == 'WfpWidgetEventClose') {
		location.href = '{{ canceled }}';
	 }
 }, false);
</script>

<div class="buttons">
    <div class="pull-right">
		<button id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" onclick="pay();">{{ button_confirm }}</button>
    </div>
</div>