{{ header ~ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button id="save-settings" type="submit" form="extended_reviews_settings" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% elseif (success) %}
    <div class="alert alert-success"><i class="fa fa-check"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}

{% if (extended_reviews['key'] is defined and extended_reviews['key'] is not empty and license) %}
    <div class="panel panel-default">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="extended_reviews_settings" class="form-horizontal">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#main-settings" data-toggle="tab" aria-expanded="false">{{ text_main_settings }}</a></li>
            <li class=""><a href="#media-settings" data-toggle="tab" aria-expanded="true">{{ text_media_settings }}</a></li>
            <li class=""><a href="#carousel-settings" data-toggle="tab" aria-expanded="true">{{ text_owl_settings }}</a></li>
            <li class=""><a href="#reward-settings" data-toggle="tab" aria-expanded="true">{{ rewards_title }}</a></li>
            <li class=""><a href="#api-settings" data-toggle="tab" aria-expanded="true">{{ text_api }}</a></li>
            <li class=""><a href="#tab-support" data-toggle="tab" aria-expanded="true">{{ text_support }}</a></li>
          </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="main-settings">
            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ entry_status }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="status_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[status]" value="0" {{ extended_reviews['status'] is not empty and extended_reviews['status'] ? '' : 'checked' }}>
                  <label for="status_off">{{ text_on }}</label>
                      <input id="status_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[status]" value="1" {{ extended_reviews['status'] is not empty and extended_reviews['status'] ? 'checked' : '' }}>
                      <label for="status_on">{{ text_off }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label">{{ text_link_allreviews }}</label>
              <div class="col-sm-6">
                  <div class="row" style="padding: 10px">
                      <a href = "{{ reviews_link }}" target="_blank">{{ reviews_link }}</a>
                  </div>
                </div>
            </div>


            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-header">{{ entry_title }}</label>
              <div class="col-sm-3">
                {% for language in languages %}
                  <div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                    <input type="text" name="extended_reviews_settings[module_header][{{ language['language_id'] }}]" value="{{ extended_reviews['module_header'][language['language_id']] is defined ? extended_reviews['module_header'][language['language_id']] : '' }}" placeholder="{{ entry_title }}" id="input-header" class="form-control" />
                  </div>
                  {% if (error_header[language['language_id']] is defined and error_header[language['language_id']]) %}
                    <div class="text-danger">{{ error_header[language['language_id']] }}</div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ entry_automoderate }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="automoderate_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[automoderate]" value="0" {{ extended_reviews['automoderate'] is not empty and extended_reviews['automoderate'] ? '' : 'checked' }}>
                  <label for="automoderate_off">{{ text_yes }}</label>
                      <input id="automoderate_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[automoderate]" value="1" {{ extended_reviews['automoderate'] is not empty and extended_reviews['automoderate'] ? 'checked' : '' }}>
                      <label for="automoderate_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="sort_order">{{ text_default_sorting }}</label>
              <div class="col-sm-3">
                  <select id="sort_order" class="form-control" name="extended_reviews_settings[sort_order]">
                    {% for key,value in sorts %}
                    {% if (value == (extended_reviews['sort_order'] is not empty? extended_reviews['sort_order']:'date_added')) %}
                    <option value="{{ value }}" selected="selected">{{ key }}</option>
                    {% else %}
                    <option value="{{ value }}">{{ key }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="admin-name">{{ entry_admin_name }}</label>
              <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="text" name="extended_reviews_settings[admin_name]" value="{{ extended_reviews['admin_name'] is not empty ? extended_reviews['admin_name'] : 'Admin' }}" placeholder="{{ entry_admin_name }}" id="admin-name" class="form-control">
                    </div>
                  </div>
                </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="max-limit">{{ text_num_reviews }}</label>
              <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="text" name="extended_reviews_settings[limit]" value="{{ extended_reviews['limit'] is not empty ? extended_reviews['limit'] : 10 }}" placeholder="{{ text_num_reviews }}" id="max-limit" class="form-control">
                    </div>
                  </div>
                </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ text_micro }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="micro_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[micro]" value="0" {{ extended_reviews['micro'] is not empty and not extended_reviews['micro'] ? '' : 'checked' }}>
                  <label for="micro_off">{{ text_yes }}</label>
                      <input id="micro_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[micro]" value="1" {{ extended_reviews['micro'] is not empty and extended_reviews['micro'] or extended_reviews['micro'] is not defined ? 'checked' : '' }}>
                      <label for="micro_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ text_limitations }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="limitations_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[limitations]" value="0" {{ extended_reviews['limitations'] is not empty and extended_reviews['limitations'] ? '' : 'checked' }}>
                  <label for="limitations_off">{{ text_yes }}</label>
                      <input id="limitations_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[limitations]" value="1" {{ extended_reviews['limitations'] is not empty and extended_reviews['limitations'] ? 'checked' : '' }}>
                      <label for="limitations_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ text_answer }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="answer_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[answer]" value="0" {{ extended_reviews['answer'] is not empty and extended_reviews['answer'] ? '' : 'checked' }}>
                  <label for="answer_off">{{ text_yes }}</label>
                      <input id="answer_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[answer]" value="1" {{ extended_reviews['answer'] is not empty and extended_reviews['answer'] ? 'checked' : '' }}>
                      <label for="answer_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ text_mail_alert }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="mail_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[mail_alert]" value="0" {{extended_reviews['mail_alert'] is not empty and extended_reviews['mail_alert'] ? '' : 'checked' }}>
                  <label for="mail_off">{{text_yes}}</label>
                      <input id="mail_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[mail_alert]" value="1" {{extended_reviews['mail_alert'] is not empty and extended_reviews['mail_alert'] ? 'checked' : '' }}>
                      <label for="mail_on">{{text_no}}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ text_captcha }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="captcha_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[captcha]" value="0" {{ extended_reviews['captcha'] is not empty and extended_reviews['captcha'] ? '' : 'checked' }}>
                  <label for="captcha_off">{{ text_yes }}</label>
                      <input id="captcha_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[captcha]" value="1" {{ extended_reviews['captcha'] is not empty and extended_reviews['captcha'] ? 'checked' : '' }}>
                      <label for="captcha_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ text_register }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="review_access_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[review_access]" value="0" {{ extended_reviews['review_access'] is not empty and extended_reviews['review_access'] ? '' : 'checked' }}>
                  <label for="review_access_off">{{ text_yes }}</label>
                      <input id="review_access_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[review_access]" value="1" {{ extended_reviews['review_access'] is not empty and extended_reviews['review_access'] ? 'checked' : '' }}>
                      <label for="review_access_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ text_likes }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="likes_access_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[likes_access]" value="0"   {{ extended_reviews['likes_access'] is not empty and extended_reviews['likes_access'] ? '' : 'checked' }}>
                  <label for="likes_access_off">{{ text_yes }}</label>
                      <input id="likes_access_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[likes_access]" value="1" {{ extended_reviews['likes_access'] is not empty and extended_reviews['likes_access'] ? 'checked' : '' }}>
                      <label for="likes_access_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-6 control-label" for="input-container">{{ text_answer_register }}</label>
              <div class="col-sm-6">
                <div class="radio-group-lite">
                  <input id="answer_access_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[answer_access]" value="0" {{ extended_reviews['answer_access'] is not empty and extended_reviews['answer_access'] ? '' : 'checked' }}>
                  <label for="answer_access_off">{{ text_yes }}</label>
                      <input id="answer_access_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[answer_access]" value="1" {{ extended_reviews['answer_access'] is not empty and extended_reviews['answer_access'] ? 'checked' : '' }}>
                      <label for="answer_access_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>
        </div>
        <div class="tab-pane" id="media-settings">
          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">{{ text_add_photo }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="photo_status_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[photo_status]" value="0" {{ extended_reviews['photo_status'] is not empty and extended_reviews['photo_status'] ? '' : 'checked' }}>
                <label for="photo_status_off">{{ text_yes }}</label>
                    <input id="photo_status_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[photo_status]" value="1" {{ extended_reviews['photo_status'] is not empty and extended_reviews['photo_status'] ? 'checked' : '' }}>
                    <label for="photo_status_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">
              <span data-toggle="tooltip" title="" data-original-title="{{ text_imgbb_help }}">{{ text_imgbb_on }}</span></label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="photo_hosting_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[photo_hosting]" value="0" {{ extended_reviews['photo_hosting'] is not empty and extended_reviews['photo_hosting'] ? '' : 'checked' }}>
                <label for="photo_hosting_off">{{ text_yes }}</label>
                    <input id="photo_hosting_on" class="hide-radio radio-on" type="radio" onclick="changeImageSizes();" name="extended_reviews_settings[photo_hosting]" value="1" {{ extended_reviews['photo_hosting'] is not empty and extended_reviews['photo_hosting'] ? 'checked' : '' }}>
                    <label for="photo_hosting_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="image-max-count">
              <span data-toggle="tooltip" title="" data-original-title="{{ text_key_help }}">{{ text_imgbb_key }}</span></label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[api_key]" value="{{ extended_reviews['api_key'] is not empty ? extended_reviews['api_key'] : '' }}" placeholder="Ваш ключ для загрузки изображений на хостинг imgbb.com" id="api_key" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-sm-12" style = "text-align: center">
                Ключ можно получить по адресу: api.imgbb.com
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">
              <span data-toggle="tooltip" title="" data-original-title="{{ text_youtube_help }}">{{ text_add_video }}</span></label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="video_status_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[video_status]" value="0" {{ extended_reviews['video_status'] is not empty and extended_reviews['video_status'] ? '' : 'checked' }}>
                <label for="video_status_off">{{ text_yes }}</label>
                    <input id="video_status_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[video_status]" value="1" {{ extended_reviews['video_status'] is not empty and extended_reviews['video_status'] ? 'checked' : '' }}>
                    <label for="video_status_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">{{ text_all_media }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="all_media_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[all_media]" value="0" {{ extended_reviews['all_media'] is not empty and extended_reviews['all_media'] ? '' : 'checked' }}>
                <label for="all_media_off">{{ text_yes }}</label>
                    <input id="all_media_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[all_media]" value="1" {{ extended_reviews['all_media'] is not empty and extended_reviews['all_media'] ? 'checked' : '' }}>
                    <label for="all_media_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">
              <span data-toggle="tooltip" title="" data-original-title="{{ text_delete_help }}">{{ text_delete_images }}</span></label>
            <div class="col-sm-6" id="delete-images-container">
            <button type="button" id="button-unused-images-delete"  class="btn btn-danger">{{ text_delete}}</button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="image-width"><span data-toggle="tooltip" title="" data-original-title="{{ text_size_control }}">{{ text_popup_size }}</span></label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[image_width]" value="{{ extended_reviews['image_width'] is not empty ? extended_reviews['image_width'] : 0 }}" placeholder="Ширина" id="image-width" class="form-control">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[image_height]" value="{{ extended_reviews['image_height'] is not empty ? extended_reviews['image_height'] : 0 }}" placeholder="Высота" id="image-height" class="form-control">
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="image-max-width"><span data-toggle="tooltip" title="" data-original-title="{{ text_max_size }}">{{ text_size_limit }}</span></label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[image_max_width]" value="{{ extended_reviews['image_max_width'] is not empty ? extended_reviews['image_max_width'] : 5000 }}" placeholder="Ширина" id="image-max-width" class="form-control">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[image_max_height]" value="{{ extended_reviews['image_max_height'] is not empty ? extended_reviews['image_max_height'] : 5000 }}" placeholder="Высота" class="form-control">
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="image-max-width">
              <span data-toggle="tooltip" title="" data-original-title="{{ text_max_weight }}">{{ text_weight_limit }}</span></label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[image_max_size]" value="{{ extended_reviews['image_max_size'] is not empty ? extended_reviews['image_max_size'] : 5 }}" placeholder="{{ text_weight_limit }}" id="image-max-size" class="form-control">
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="image-max-count">{{ text_count_limit }}</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[image_max_count]" value="{{ extended_reviews['image_max_count'] is not empty ? extended_reviews['image_max_count'] : 10 }}" placeholder="{{ text_count_limit }}" id="image-max-count" class="form-control">
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="tab-pane" id="carousel-settings">
          <ul class="nav nav-tabs">
          <li class="active"><a href="#product-carousel" data-toggle="tab" aria-expanded="true">{{ text_owl_prod }}</a></li>
          <li class=""><a href="#reviews-carousel" data-toggle="tab" aria-expanded="true">{{ text_owl_rev }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="product-carousel">
          <h2 class="text-center">{{ text_owl_product }}</h2>
          <br>
          <h3>{{ text_owl_photo }}</h3>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">{{ entry_status }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="owl_photo_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[owl_photo_status]" value="0" {{ extended_reviews['owl_photo_status'] is not empty and not extended_reviews['owl_photo_status'] ? 'checked' : '' }}>
                <label for="owl_photo_off">{{ text_on }}</label>
                    <input id="owl_photo_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[owl_photo_status]" value="1" {{ extended_reviews['owl_photo_status'] is not defined or extended_reviews['owl_photo_status'] ? 'checked' : '' }}>
                    <label for="owl_photo_on">{{ text_off }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 col-lg-4 control-label" for="thumb-width">{{ text_owl_size }}</label>
            <div class="col-sm-6 col-lg-4">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[thumb_width]" value="{{ extended_reviews['thumb_width'] is not empty ? extended_reviews['thumb_width'] : 100 }}" placeholder="Ширина" id="thumb-width" class="form-control">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[thumb_height]" value="{{ extended_reviews['thumb_height'] is not empty ? extended_reviews['thumb_height'] : 100 }}" placeholder="Высота" class="form-control">
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 col-lg-4 col-xs-8 control-label" for="border-radius-photo">{{ text_owl_radius }}</label>
            <div class="col-sm-2 col-lg-1 col-xs-4">
                <input type="text" name="extended_reviews_settings[border_radius_photo]" value="{{ extended_reviews['border_radius_photo'] is not empty ? extended_reviews['border_radius_photo'] : 2 }}" id="border-radius-photo" class="form-control">
              </div>
          </div>
          <br>
          <h4>{{ text_owl_count }}</h4>
          <div class="row">
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-photo-1200">{{ text_owl_screen }} 1200px+</label>
            <div class="col-sm-4">
                    <input type="text" name="extended_reviews_settings[photo_carousel_1200]" value="{{ extended_reviews['photo_carousel_1200'] is not empty ? extended_reviews['photo_carousel_1200'] : 6 }}" id="carousel-photo-1200" class="form-control">
              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-photo-1199">{{ text_owl_screen }} 769px - 1199px</label>
            <div class="col-sm-4">
                    <input type="text" name="extended_reviews_settings[photo_carousel_1199]" value="{{ extended_reviews['photo_carousel_1199'] is not empty ? extended_reviews['photo_carousel_1199'] : 5 }}" id="carousel-photo-1199" class="form-control">
              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-photo-768">{{ text_owl_screen }} 481px - 768px</label>
            <div class="col-sm-4">
                    <input type="text" name="extended_reviews_settings[photo_carousel_768]" value="{{ extended_reviews['photo_carousel_768'] is not empty ? extended_reviews['photo_carousel_768'] : 4 }}" id="carousel-photo-768" class="form-control">
              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-photo-480">{{ text_owl_screen }} 341px - 480px</label>
            <div class="col-sm-4">
                    <input type="text" name="extended_reviews_settings[photo_carousel_480]" value="{{ extended_reviews['photo_carousel_480'] is not empty ? extended_reviews['photo_carousel_480'] : 3 }}" id="carousel-photo-480" class="form-control">
              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-photo-360">{{ text_owl_screen }} 340px-</label>
                  <div class="col-sm-4">
                    <input type="text" name="extended_reviews_settings[photo_carousel_340]" value="{{ extended_reviews['photo_carousel_340'] is not empty ? extended_reviews['photo_carousel_340'] : 2 }}" id="carousel-photo-360" class="form-control">
              </div>
          </div>
          </div>
          <hr>
          <br>
          <h3>{{ text_owl_video }}</h3>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">{{ entry_status }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="owl_video_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[owl_video_status]" value="0" {{ extended_reviews['owl_video_status'] is not empty and not extended_reviews['owl_video_status'] ? 'checked' : '' }}>
                <label for="owl_video_off">{{ text_on }}</label>
                    <input id="owl_video_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[owl_video_status]" value="1" {{ extended_reviews['owl_video_status'] is not defined or extended_reviews['owl_video_status'] ? 'checked' : '' }}>
                    <label for="owl_video_on">{{ text_off }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 col-lg-4 control-label" for="video-thumb-width">{{ text_owl_size }}</label>
            <div class="col-sm-6 col-lg-4">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[video_thumb_width]" value="{{ extended_reviews['video_thumb_width'] is not empty ? extended_reviews['video_thumb_width'] : 160 }}" placeholder="Ширина" id="video-thumb-width" class="form-control">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[video_thumb_height]" value="{{ extended_reviews['video_thumb_height'] is not empty ? extended_reviews['video_thumb_height'] : 100 }}" placeholder="Высота" class="form-control">
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 col-lg-4 col-xs-8 control-label" for="border-radius-video">{{ text_owl_radius }}</label>
            <div class="col-sm-2 col-lg-1 col-xs-4">
                <input type="text" name="extended_reviews_settings[border_radius_video]" value="{{ extended_reviews['border_radius_video'] is not empty ? extended_reviews['border_radius_video'] : 2 }}" id="border-radius-video" class="form-control">
              </div>
          </div>
          <h4>{{ text_owl_count }}</h4>
          <div class="row">
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-video-1200">{{ text_owl_screen }} 1200px+</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[video_carousel_1200]" value="{{ extended_reviews['video_carousel_1200'] is not empty ? extended_reviews['video_carousel_1200'] : 4 }}" id="carousel-video-1200" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-video-1199">{{ text_owl_screen }} 769px - 1199px</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[video_carousel_1199]" value="{{ extended_reviews['video_carousel_1199'] is not empty ? extended_reviews['video_carousel_1199'] : 3 }}" id="carousel-video-1199" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-video-768">{{ text_owl_screen }} 481px - 768px</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[video_carousel_768]" value="{{ extended_reviews['video_carousel_768'] is not empty ? extended_reviews['video_carousel_768'] : 3 }}" id="carousel-video-768" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-video-480">{{ text_owl_screen }} 341px - 480px</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[video_carousel_480]" value="{{ extended_reviews['video_carousel_480'] is not empty ? extended_reviews['video_carousel_480'] : 2 }}" id="carousel-video-480" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="carousel-video-360">{{ text_owl_screen }} 340px-</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[video_carousel_340]" value="{{ extended_reviews['video_carousel_340'] is not empty ? extended_reviews['video_carousel_340'] : 1 }}" id="carousel-video-360" class="form-control">

              </div>
          </div>
        </div>
          <br>
        </div>
        <div class="tab-pane" id="reviews-carousel">
          <h2 class="text-center">{{ text_owl_reviews }}</h2>
          <br>
          <h3>{{ text_owl_photo }}</h3>
          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">{{ entry_status }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="all_owl_photo_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[all_owl_photo_status]" value="0" {{ extended_reviews['all_owl_photo_status'] is not empty and not extended_reviews['all_owl_photo_status'] ? 'checked' : '' }}>
                <label for="all_owl_photo_off">{{ text_on }}</label>
                    <input id="all_owl_photo_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[all_owl_photo_status]" value="1" {{ extended_reviews['all_owl_photo_status'] is not defined or extended_reviews['all_owl_photo_status'] ? 'checked' : '' }}>
                    <label for="all_owl_photo_on">{{ text_off }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 col-lg-4 control-label" for="all-thumb-width">{{ text_owl_size }}</label>
            <div class="col-sm-6 col-lg-4 ">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[all_thumb_width]" value="{{ extended_reviews['all_thumb_width'] is not empty ? extended_reviews['all_thumb_width'] : 110 }}" placeholder="Ширина" id="all-thumb-width" class="form-control">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[all_thumb_height]" value="{{ extended_reviews['all_thumb_height'] is not empty ? extended_reviews['all_thumb_height'] : 110 }}" placeholder="Высота" class="form-control">
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 col-lg-4 col-xs-8 control-label" for="all-border-radius-photo">{{ text_owl_radius }}</label>
            <div class="col-sm-2 col-lg-1 col-xs-4">
                <input type="text" name="extended_reviews_settings[all_border_radius_photo]" value="{{ extended_reviews['all_border_radius_photo'] is not empty ? extended_reviews['all_border_radius_photo'] : 2 }}" id="all-border-radius-photo" class="form-control">
              </div>
          </div>
          <br>
          <h4>{{ text_owl_count }}</h4>
          <div class="row">
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-photo-1200">{{ text_owl_screen }} 1200px+</label>
            <div class="col-sm-4">
                    <input type="text" name="extended_reviews_settings[all_photo_carousel_1200]" value="{{ extended_reviews['all_photo_carousel_1200'] is not empty ? extended_reviews['all_photo_carousel_1200'] : 7 }}" id="all-carousel-photo-1200" class="form-control">
              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-photo-1199">{{ text_owl_screen }} 769px - 1199px</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[all_photo_carousel_1199]" value="{{ extended_reviews['all_photo_carousel_1199'] is not empty ? extended_reviews['all_photo_carousel_1199'] : 5 }}" id="all-carousel-photo-1199" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-photo-768">{{ text_owl_screen }} 481px - 768px</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[all_photo_carousel_768]" value="{{ extended_reviews['all_photo_carousel_768'] is not empty ? extended_reviews['all_photo_carousel_768'] : 4 }}" id="all-carousel-photo-768" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-photo-480">{{ text_owl_screen }} 341px - 480px</label>
                  <div class="col-sm-4">
                    <input type="text" name="extended_reviews_settings[all_photo_carousel_480]" value="{{ extended_reviews['all_photo_carousel_480'] is not empty ? extended_reviews['all_photo_carousel_480'] : 3 }}" id="all-carousel-photo-480" class="form-control">
              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-photo-360">{{ text_owl_screen }} 340px-</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[all_photo_carousel_340]" value="{{ extended_reviews['all_photo_carousel_340'] is not empty ? extended_reviews['all_photo_carousel_340'] : 2 }}" id="all-carousel-photo-360" class="form-control">

              </div>
          </div>
        </div>
          <hr>
          <br>
          <h3>{{ text_owl_video }}</h3>
          <div class="form-group">
            <label class="col-sm-6 control-label" for="input-container">{{ entry_status }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="all_owl_video_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[all_owl_video_status]" value="0" {{ extended_reviews['all_owl_video_status'] is not empty and not extended_reviews['all_owl_video_status'] ? 'checked' : '' }}>
                <label for="all_owl_video_off">{{ text_on }}</label>
                    <input id="all_owl_video_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[all_owl_video_status]" value="1" {{ extended_reviews['all_owl_video_status'] is not defined or extended_reviews['all_owl_video_status'] ? 'checked' : '' }}>
                    <label for="all_owl_video_on">{{ text_off }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 col-lg-4 control-label" for="all-video-thumb-width">{{ text_owl_size }}</label>
            <div class="col-sm-6 col-lg-4">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[all_video_thumb_width]" value="{{ extended_reviews['all_video_thumb_width'] is not empty ? extended_reviews['all_video_thumb_width'] : 160 }}" placeholder="Ширина" id="all-video-thumb-width" class="form-control">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[all_video_thumb_height]" value="{{ extended_reviews['all_video_thumb_height'] is not empty ? extended_reviews['all_video_thumb_height'] : 100 }}" placeholder="Высота" class="form-control">
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 col-lg-4 col-xs-8 control-label" for="all_border-radius-video">{{ text_owl_radius }}</label>
            <div class="col-sm-2 col-lg-1 col-xs-4">
                <input type="text" name="extended_reviews_settings[all_border_radius_video]" value="{{ extended_reviews['all_border_radius_video'] is not empty ? extended_reviews['all_border_radius_video'] : 2 }}" id="all-border-radius-video" class="form-control">
              </div>
          </div>
          <h4>{{ text_owl_count }}</h4>
          <div class="row">
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-video-1200">{{ text_owl_screen }} 1200px+</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[all_video_carousel_1200]" value="{{ extended_reviews['all_video_carousel_1200'] is not empty ? extended_reviews['all_video_carousel_1200'] : 5 }}" id="all-carousel-video-1200" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-video-1199">{{ text_owl_screen }} 769px - 1199px</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[all_video_carousel_1199]" value="{{ extended_reviews['all_video_carousel_1199'] is not empty ? extended_reviews['all_video_carousel_1199'] : 4 }}" id="all-carousel-video-1199" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-video-768">{{ text_owl_screen }} 481px - 768px</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[all_video_carousel_768]" value="{{ extended_reviews['all_video_carousel_768'] is not empty ? extended_reviews['all_video_carousel_768'] : 3 }}" id="all-carousel-video-768" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-video-480">{{ text_owl_screen }} 341px - 480px</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[all_video_carousel_480]" value="{{ extended_reviews['all_video_carousel_480'] is not empty ? extended_reviews['all_video_carousel_480'] : 2 }}" id="all-carousel-video-480" class="form-control">

              </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-xs-12">
            <label class="col-sm-8 control-label" for="all-carousel-video-360">{{ text_owl_screen }} 340px-</label>
            <div class="col-sm-4">

                    <input type="text" name="extended_reviews_settings[all_video_carousel_340]" value="{{ extended_reviews['all_video_carousel_340'] is not empty ? extended_reviews['all_video_carousel_340'] : 1 }}" id="all-carousel-video-360" class="form-control">

              </div>
          </div>
          </div>
        </div>
      </div>
    </div>


        <div class="tab-pane" id="reward-settings">
          <div class="form-group">
            <label class="col-sm-6 control-label">{{ rewards_status }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                    <input id="reward_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[reward]" value="0" {{ extended_reviews['reward'] is not empty and extended_reviews['reward'] ? '' : 'checked' }}>
                    <label for="reward_off">{{ text_yes }}</label>
                    <input id="reward_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[reward]" value="1" {{ extended_reviews['reward'] is not empty and extended_reviews['reward'] ? 'checked' : '' }}>
                    <label for="reward_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="bonus-count">{{ text_bonus }}</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[bonus]" value="{{ extended_reviews['bonus'] is not empty ? extended_reviews['bonus'] : 0 }}" placeholder="Введите количество бонусов получаемых за отзыв" id="bonus-count" class="form-control">
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="bonus-photo">{{ text_bonus_photo }}</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[bonus_photo]" value="{{ extended_reviews['bonus_photo'] is not empty ? extended_reviews['bonus_photo'] : 0 }}" placeholder="Введите количество бонусов получаемых за отзыв с фото" id="bonus-photo" class="form-control">
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="bonus-video">{{ text_bonus_video }}</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[bonus_video]" value="{{ extended_reviews['bonus_video'] is not empty ? extended_reviews['bonus_video'] : 0 }}" placeholder="Введите количество бонусов получаемых за отзыв с видео" id="bonus-video" class="form-control">
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label">
              <span data-toggle="tooltip" title="" data-original-title="{{ text_likes_help }}">{{ text_bonus_likes_status }}</span></label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="likes_reward_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[likes_reward]" value="0" {{ extended_reviews['likes_reward'] is not empty and extended_reviews['likes_reward'] ? '' : 'checked' }}>
                <label for="likes_reward_off">{{ text_yes }}</label>
                <input id="likes_reward_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[likes_reward]" value="1" {{ extended_reviews['likes_reward'] is not empty and extended_reviews['likes_reward'] ? 'checked' : '' }}>
                <label for="likes_reward_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label" for="bonus-likes">{{ text_bonus_likes }}</label>
            <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="extended_reviews_settings[bonus_likes]" value="{{ extended_reviews['bonus_likes'] is not empty ? extended_reviews['bonus_likes'] : 0 }}" placeholder="Введите количество бонусов выдаваемых за полученный к отзыву лайк" id="bonus-likes" class="form-control">
                  </div>
                </div>
              </div>
          </div>
        </div>


        <div class="tab-pane" id="api-settings">
          <div class = "clarification-for-users">{{ api_notifications }}</div>

          <div class="form-group">
            <label class="col-sm-6 control-label">{{ text_dropzone }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="dropzone_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[dropzone]" value="0" {{ extended_reviews['dropzone'] is not empty and extended_reviews['dropzone'] ? '' : 'checked' }}>
                <label for="dropzone_off">{{ text_yes }}</label>
                <input id="dropzone_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[dropzone]" value="1" {{ extended_reviews['dropzone'] is not empty and extended_reviews['dropzone'] or extended_reviews['dropzone'] is not defined ? 'checked' : '' }}>
                <label for="dropzone_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label">{{ text_carousel }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="carousel_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[carousel]" value="0" {{ extended_reviews['carousel'] is not empty and extended_reviews['carousel'] ? '' : 'checked' }}>
                <label for="carousel_off">{{ text_yes }}</label>
                <input id="carousel_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[carousel]" value="1" {{ extended_reviews['carousel'] is not empty and extended_reviews['carousel'] or extended_reviews['carousel'] is not defined ? 'checked' : '' }}>
                <label for="carousel_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label">{{ text_magnific }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="magnific_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[magnific]" value="0" {{ extended_reviews['magnific'] is not empty and extended_reviews['magnific'] ? '' : 'checked' }}>
                <label for="magnific_off">{{ text_yes }}</label>
                <input id="magnific_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[magnific]" value="1" {{ extended_reviews['magnific'] is not empty and extended_reviews['magnific'] ? 'checked' : '' }}>
                <label for="magnific_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label">{{ text_bootstrap_css }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="bootstrap_css_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[bootstrap_css]" value="0" {{ extended_reviews['bootstrap_css'] is not empty and extended_reviews['bootstrap_css'] ? '' : 'checked' }}>
                <label for="bootstrap_css_off">{{ text_yes }}</label>
                <input id="bootstrap_css_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[bootstrap_css]" value="1" {{ extended_reviews['bootstrap_css'] is not empty and extended_reviews['bootstrap_css'] ? 'checked' : '' }}>
                <label for="bootstrap_css_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label">{{ text_bootstrap_js }}</label>
            <div class="col-sm-6">
              <div class="radio-group-lite">
                <input id="bootstrap_js_off" class="hide-radio radio-off" type="radio" name="extended_reviews_settings[bootstrap_js]" value="0" {{ extended_reviews['bootstrap_js'] is not empty and extended_reviews['bootstrap_js'] ? '' : 'checked' }}>
                <label for="bootstrap_js_off">{{ text_yes }}</label>
                <input id="bootstrap_js_on" class="hide-radio radio-on" type="radio" name="extended_reviews_settings[bootstrap_js]" value="1" {{ extended_reviews['bootstrap_js'] is not empty and extended_reviews['bootstrap_js'] ? 'checked' : '' }}>
                <label for="bootstrap_js_on">{{ text_no }}<span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
            </div>
            </div>
          </div>

        </div>



        <div class="tab-pane" id="tab-support">
          <div class="form-group">
            <div class="col-sm-12">
              {{ text_thanks }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">{{ text_contacts }}</div>
            <div class="col-sm-9">
              {{ text_email }} <a href="mailto:Felin0603@gmail.com">Felin0603@gmail.com</a><br>
              {{ text_site }} <a href="http://extended-reviews.com/" target="_blank">http://extended-reviews.com/</a><br>
              Opencartforum: <a href="https://opencartforum.com/profile/827231-censorid/" target="_blank">https://opencartforum.com/profile/827231-censorid/</a>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">{{ text_module_reviews }}</div>
            <div class="col-sm-9">
              Opencartforum: <a href="https://opencartforum.com/files/file/7202-otzyvy-s-foto-i-video-laykami-i-kommentariyami/?tab=reviews" target="_blank">opencartforum.com</a><br>
            </div>
          </div>
        </div>






      </div>
      <input type="hidden" name="extended_reviews_settings[key]" value="{{ extended_reviews['key'] is not empty ? extended_reviews['key'] : 0 }}">
      <input type="hidden" name="extended_reviews_settings[license]" value="{{ license is not empty ? license : 0 }}">
    </form>
    </div>
{% else %}
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="extended_reviews_key" class="form-horizontal">
  {% if (error_license) %}
    <div class="alert"><i class="fa fa-exclamation-circle"></i> {{ error_license }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="col-md-offset-3 col-md-5 col-sm-12">
    <label for="input-text-plus">{{ text_license_key}}</label>
    <div class="input-group">
    <input type="text" name="extended_reviews_settings[key]" value="" placeholder="{{ text_entry_key }}" id="key" class="form-control">
    <span class="input-group-btn"> <button id="save-settings" type="submit" form="extended_reviews_key" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>{{ text_license_key_save }}</button></span>
  </div>
  </div>
</form>
{% endif %}
  </div>
</div>
{{ footer }}
<script>
$('#button-unused-images-delete').on('click', function(){
  $.ajax({
    url: 'index.php?route=extension/module/extended_reviews/deleteUnusedImages&user_token={{ user_token }}',
    type: 'post',
    data: { review_id : null } ,
    success: function(json) {
        $('#delete-images-container .alert').remove();
        $('#delete-images-container').append('<div class="alert alert-success m-20"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; Delete ' + json['count'] + ' images</div>');
  }
  });
});
function changeImageSizes(){
  $('#image-width').val('1000');
  $('#image-height').val('1000');
}
</script>
<style>
.reviews-thumbnails{
	list-style: none;
	overflow: hidden;
	padding: 0;
  margin: 0;
}
.image-additional{
	float: left;
	margin: 5px;
	text-align: center;
}
.reviews-thumbnails .img-thumbnail{
	display: block;
}
.reviews-thumbnails .img-thumbnail img{
	height: 100px;
	width: 100px;
}
.btn-delete{
		width: 100%;
    height: 25px;
    border-radius: 0 0 4px 4px;
    background: #ff7575;
    line-height: 10px;
    color: #fff !important;
    margin-top: -1px;
    padding: 0;
		outline: 0 !important;
}
.btn-delete:hover{
	background: #ff5a5a;
}
.btn-delete:focus, .btn-delete:active{
	background-color: #ff4545;
  box-shadow: 0 0 0 0.2rem #fe1f1f5c;
}
.radio-group-lite {
    display: inline-block;
    position: relative;
    width: 70px;
    background: #eceeef none repeat scroll 0 0;
    border-radius: 18px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35) inset, 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px #efefef;
    padding: 2px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.hide-radio {
    display: none;
}
.hide-radio + label {
    background: transparent;
    display: block;
		font-weight: 600;
		letter-spacing: -.5px;
    float: left;
    padding: 5px 0;
    text-align: center;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    width: 50%;
    margin-bottom: 0px;
    position: relative;
    color: #969696;
    cursor: pointer;
}
.hide-radio:checked + label{
  color: transparent !important;
}
.onoffswitch-switch {
    display: block;
    width: 28px;
    height: 28px;
    box-shadow:-1px 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.02) inset;
    background: #f9f9f9 linear-gradient(to bottom, #eeeeee, white) repeat scroll 0 0;
    position: absolute;
    top: 0px;
    right: 38px;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    transition: all 0.2s ease-in 0s;
}
.radio-on.hide-radio:checked + label .onoffswitch-switch{
  right: -1px;
}
.onoffswitch-inner{
  transition: all 0s;
}
.radio-on.hide-radio:checked + label .onoffswitch-inner{
  position: absolute;
  left: -35px;
  top: -2px;
  width: 70px;
  height: 32px;
  border-radius: 18px;
  background: linear-gradient(45deg, #13bc4f, #02ce4d);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset, 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px #7cdb9c;
}
.radio-off.hide-radio + label{
  color: #fff;
  z-index: 1;
}
.form-horizontal .form-group{
  margin: 0;
  border: none;
}
.panel-default, .form-group{
  border: none;
}
#button-unused-images-delete{
    float:left;
}
.m-20{
    margin:0;
    margin-left: 20%;
}
</style>
